body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #A41122;;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center
}

/* Style the links inside the navigation bar */
.topnav a {
  align-items: stretch;
  color: #ddd;
  text-align: center;
  /* need to figure out how to do dynamic padding maybe js? maybe fixed */
  padding: 1% 11%;
  text-decoration: none;
  font-size: xxx-large;
}

/* Change the color of links on hover  */
/* if we make the nav bar have drop downs then will need else not */
.topnav a:hover {
  background-color: #003366;
  color: #ddd;
}

/* Add a color to the active/current link */
.topnav a:focus {
  background-color: #003366;
  color: white;
}
