body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
}

/* Add a black background color to the top navigation */
/* formats top nav */
.topnav {
  background-color: #A41122;;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: stretch;
  position: relative;
  white-space: nowrap ;
}
/* formats all divs in top nav */
.topnav > div {
  /* changed marker color?? whenc color changed */
  align-items: stretch;
  color: #ddd;
  text-align: center;
  /* need to figure out how to do dynamic padding maybe js? maybe fixed */
  padding: 1% 11%;
  position: static;
  white-space: nowrap ;
}

/* formats divs elems in topnav when hover over */
.topnav > div:hover {
  background-color: #003366;
  color: #ddd;

  white-space: nowrap ;
}

/* Add a color to the active/current link */
.topnav > div:focus {
  background-color: #003366;
  white-space: nowrap ;
}

/* -----------------nav-button stuff----------------- */

/* formats elems of nav-button */
.nav-button{
  display: inline;
  align-items: stretch;
  color: #ddd;
  text-align: match-parent;
  padding: 1% ;
  text-decoration: none;
  font-size: xxx-large;
  white-space: nowrap ;
  
}

/* formats elems of nav-button closed */
.nav-button.closed{
  display: inline;
  align-items: stretch;
  color: #ddd;
  text-align: match-parent;
  padding: 1% ;
  text-decoration: none;
  font-size: xxx-large;
  white-space: nowrap ;
}


/*
/* Style the links inside the navigation bar */
/* need to figure out how to do dynamic padding maybe js? maybe fixed */
/* .topnav a {
  align-items: stretch;
  color: #ddd;
  text-align: center;
  
  padding: 1% 11%;
  text-decoration: none;
  font-size: xxx-large;
} 
*/

/* Change the color of links on hover  */
/* if we make the nav bar have drop downs then will need else not */



ul.dropdown.closed{
  list-style-type: none;
  visibility: hidden;  
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  height: auto; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  color: #ddd;
  padding: 0 0 0 0 ;
  text-align: match-parent;
  position: absolute;
  white-space: nowrap ;
  -webkit-transition: height 0.3s ease;
          transition: height 0.3s ease;
}

ul.dropdown{
  list-style: none; 
  overflow: visible; /* When ul height is reduced, ensure overflowing li are not shown */
  position: fixed;
  float: left;
  background-color: #34495e;
  font-size: xxx-large;
  margin-top: 1%;
  margin-right: 1%;
  padding: 0% 8%;
  padding-left: 10%;
  padding-right: 10%;
  /* display: unset; tbh contents not bad */

  
  /* width: 10%; */
  text-align: center;
  -webkit-transition: height 0.3s ease;
          transition: height 0.3s ease;
}

li{
  margin: 0;
  padding: 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
